htmlcov/
*auth.txt
pytest*.csv
.idea/
notification_my.py
*.pptx
real.ipynb
.DS_Store
__pycache__
xaenv
.pytest_cache
*.pyc
doc/build
demo.ipynb
.ipynb_checkpoints/
build/
dist/
xalpha.egg-info/
.coverage
